<%= form_for parent do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= hidden_field_tag "item_type[medium_ids][]", nil %>
      <% Medium.all.each do |medium| %>
        <%= check_box_tag "item_type[medium_ids][]", medium.id, parent.medium_ids.include?(medium.id), id: dom_id(medium) %>
        <%= label_tag dom_id(medium), medium.medium %><br>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% parent.media.each do |medium| %>
        <%# render "item_types/item_field_fields", medium: medium %>
        <%= medium.item_fields.pluck(:name) %>
      <% end %>
    </div>
  </div>
  <%= f.submit "Save" %>
<% end %>
