<%= form_for parent do |f| %>
  <% if parent.properties.present? %>
    <%#= parent.properties.delete_if { |k,v| v.empty? } %><br>
    <%#= parent.description %><br>
    <%#= parent.tagline %><br>
    <%#= parent.properties_fields %><br>
    <%= parent.build_media_description %>
  <% end %>

  <div class="field">
    <h4>Name of Item Type:</h4>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Media Elements:</h4>
      <%= f.fields_for :category_groups do |builder| %>
        <%= render 'item_types/category_group_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "Add Field", f, :category_groups, "item_types" %>
    </div><br>

    <div class="col-md-12">
      <h4>Properties for Item Type:</h4>
      <%# parent.media.each do |medium| %>
        <%#= medium.medium %>
      <%# end %>
      <%#= parent.media.map {|medium| medium.medium} %>
      <%#= parent.parent_media %>
      <% parent.media.each do |medium| %>
        <% medium.item_fields.each do |field| %>
          <%= render 'item_types/properties', f: f, parent: parent, field: field %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= f.submit "Save" %>
<% end %>
