<p id="notice"><%= notice %></p>

<h1>Item Types</h1>
<% if @item_types.empty? %>
  <p><strong>No Item Types</strong></p>
<% end %>

<h4>Export Item Types</h4>
<p>
  Download:
  <%= link_to "CSV", item_types_path(format: "csv") %> |
  <%= link_to "Excel", item_types_path(format: "xls") %>
</p>

<h4>Import Item Types</h4>
<%= form_tag import_item_types_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table class="table table-striped">
  <thead>
    <th>item type</th>
  </thead>
  <tbody>
    <%= render @item_types.all %>
  <tbody>
</table>

<br>

<%= link_to 'New Item type', new_item_type_path %>
