<p id="notice"><%= notice %></p>

<h2>Item Type: <%= @item_type.name %></h2>

<%= link_to 'Edit', edit_item_type_path(@item_type) %> |
<%= link_to 'Back', item_types_path %>

<div>
  <h4>Media List</h4>
  <%= render 'item_types/media/medium', medium: @item_type.media.all %>
</div>
