<%= form_for parent do |f| %>
  <div class="field">
    <%= f.label :medium %><br>
    <%= f.text_field :medium %>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= f.fields_for :field_groups do |builder| %>
        <%= render 'media/field_group_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "Add Field", f, :field_groups, "media" %>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-2">
      <%#= f.fields_for :item_fields, @medium.item_fields.build do |builder| %>
        <%#= render 'media/item_field_fields', f: builder %>
      <%# end %>
      <%#= link_to_add_fields "Add Field", f, :item_fields, "media" %>
    </div>
  </div> -->
  <%= f.submit "Save" %>
<% end %>
