<p id="notice"><%= notice %></p>

<h1>Media List</h1>
<% if @media.empty? %>
  <p><strong>No Media</strong></p>
<% end %>

<h2>Export Media</h2>
<p>
  Download:
  <%= link_to "CSV", media_path(format: "csv") %> |
  <%= link_to "Excel", media_path(format: "xls") %>
</p>

<h2>Import Media</h2>
<%= form_tag import_media_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table id="media">
  <tr>
    <th>id</th>
    <th>medium</th>
  </tr>
  <% @media.each do |medium| %>
    <tr>
      <td><%= medium.id %></td>
      <td><%= medium.medium %></td>
      <td><%= link_to 'show', medium_path(medium) %> | <%= link_to 'Edit', edit_medium_path(medium) %> | <%= link_to 'Delete', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>

<%= link_to 'New Medium', new_medium_path %>
