<%= form_for parent do |f| %>
  <div class="field">
    <%= f.label :field_type %><br>
    <%= f.text_field :field_type %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Save" %>
<% end %>
